ul{
    list-style: none;
}
ul,li{
    margin: 0;
    padding: 0;
}
.title{
    width: 100%;
    height: 60px;
}
.title-left{
    width:200px;
    height:100px;
}
.title-left img{
    width:43px ;
    height:43px ;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 7px;
}
.title-left a{
    float: left;
    width: 150px;
    height: 50px;
    font-size:20px ;
    position: absolute;
    left:60px;
    top: 14px;
    color: #333333;
}
.title-right{
    /*background: #ff0000;*/
}
.title-right li a{
    font-size: 17px;
}
.dropdown{
    width: 50px;
    height: 100%;
    line-height: 50px;
}

.right-title li>a{
    margin-left:10px ;
}

.main{
    width: 100%;
    height: auto;
    min-height: 656px;
}
.main-left{
    width: 200px;
    height: 656px;
    float: left;

}
.main-left a{
    margin: 20px 0;
    width: 200px;
    font-size: 16px;
    color: #111111;
    line-height: 25px;
    position: absolute;
    left: 0;
    top: 70px;
}
.main-left a img{
    width: 28px;
    height: 26px;
    float: left;
}
.main-left a p{
    float: left;
    margin-left:20px ;
}
.main-right{
    width:1100px ;
    height: 565px;
    float: left;
    margin-left: 200px;
    margin-top: 80px;
}
.border-1{
    width: 3px;
    height: 22px;
    margin-top:10px ;
    background: #ac2923;
    float: left;
}

.content-one{
    width: 1060px;
    height: 60px;
    margin-top: 40px;
    margin-left:20px ;
    border-bottom: 1px solid #999999;
}
.content-one .content-one-left{
    width: 460px;
    height: 42px;
    margin-right: 200px;
}
.content-one .left-first{
    /*width:120px;*/
    height: 40px;
    line-height: 40px;
    margin-right: 30px;
}
.left-first-border{
    float: left;
    width: 3px;
    height: 14px;
    background:#ac2923 ;
    margin-top: 14px;
    margin-right: 13px;
}


.content-two{
    width: 1060px;
    height: 190px;
    margin-top: 20px;
    margin-left:20px ;
    border-bottom: 1px solid #999999;
    font-size: 16px;
}
.content-two .left-first{
    margin: 20px 0;
}
.right-two{
    width: 1060px;
    height: 40px;
    margin-left:20px;
}
.right-two .dropdown{
    margin-right:70px;
    float: left;
}
.right-two .chaxun{
    width: 80px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}
.table{
    margin-top: 20px;
}