.daohang{
    width: 100%;
    height: auto;

}

.title{
    width: 100%;
    height: 1.29rem;
    background: #ff4800e8;
    position: fixed;
    /*display: flex;*/
}
.title .title-sao{
    width:1.20rem;
    height: 1.25rem;
    float: left;
    margin-left: 0.188rem;
    margin-top: 0.13rem;
}
.title-sao a{
    display: block;
    color: #eeeeee;
    font-size: 11px;
    text-align: center;
}
.title-sao img{
    width: 0.80rem;
    height: 0.80rem;
    padding-left: 0.09rem;
}
.title .title-search{
    width: 4.98rem;
    height: 1.00rem;
    float: left;
    margin-top: 0.13rem;
    background: white;
    border-radius:30px ;
}
.title .title-search img:first-child{
      width: 0.85rem;
      height: 0.85rem;
      margin-top: 0.15rem;
      margin-left: 0.10rem;
    float: left;
}
.title .title-search img:last-child{
    width: 0.65rem;
    height: 0.65rem;
    margin-top: 0.18rem;
    float: right;
    margin-right: 0.15rem;
}
.title-search span{
    float: left;
    font-size: 20px;
    margin-top: 0.24rem;
    color: #666666;
}
.title .title-member{
    width:1.10rem;
    height: 1.25rem;
    float: left;
    margin-top: 0.10rem;
}
.title-member a{
    display: block;
    color: #eeeeee;
    font-size: 11px;
    text-align: center;
}
.title-member img{
    width: 0.80rem;
    height: 0.80rem;
    padding-left: 0.09rem;
}
/*主体*/
.banner{
    width: 100%;
    height:auto;
    overflow: auto;
    position: relative;
    left: 0;
    top: 1.29rem;
}
.banner .list-1{
    width: 100%;
    height: 0.88rem;
    background:  #ff4800e8;
}
.banner .list-1 li{
    font-size: 0.4rem;
    float: left;
    color: #eeeeee;
    line-height: 0.88rem;
    margin:0 0.12rem;
}
.banner .banner-img{
    width: 100%;
    height: 2.68rem;
}
.list-2{
    width:100%;
    height: 3.72rem;
}
.list-2 li{
    width: 20%;
    height: 1.86rem;
    float: left;
    text-align: center;
}
.list-2 li img{
    width: 1.0rem;
    height:1.0rem;
    margin-left: 0.1rem;
    margin-top: 0.05rem;
}
.list-2 li span{
    margin-top: 0.1rem;
    color: #666666;
}
.list-img-2{
    width: 100%;
    height: 3.15rem;
}
.recommend{
    width: 96%;
    height: 5.0rem;
    margin:0.2rem auto;
    background: #cccccc;
    border-radius: 8%;

}

/*底部导航*/
.end{
    width: 100%;
    height: 0.98rem;
    background-color: #00b3ff;
    margin-top: 0.04rem;
    position: fixed;
    left: 0;
    bottom: 0;

}
.end-list{
    width: 0.52rem;
    height: 0.77rem;
    margin:0 0.47rem;
    float: left;
}
.end-list img{
    width: 0.46rem;
    height: 0.4rem;
    margin-top: 0.08rem;
}
.end-list i{
    display: block;
    width: 0.91rem;
    height: 0.2rem;
    font-size: 0.25rem;
    line-height: 0.2rem;
    letter-spacing: 0.01rem;
    font-style: normal;
}
