
body,div{margin:0;padding:0;}
.outer{
  width:100vw;
  height:100vh;
  position:relative;
}
.left-outer{
  width:12.5vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
}
.left{
  width:100%;
  height:100%;
  background:red;
  background:url("kwglxt.png") no-repeat center top;
  background-size:100% auto;
  position:relative;
}
.btn1{
  font-size:16px;
  color:black;
  position:absolute;
  top:8vh;
  left:1vw;
}
.btn2{
  font-size:16px;
  color:black;
  position:absolute;
  top:13vh;
  left:1vw;
}
.btn3{
  font-size:16px;
  color:black;
  position:absolute;
  top:18vh;
  left:1vw;
}
.right{
  width:87.5vw;
  height:100%;
  float:right;
  background:#eee;
  position:relative;
}
.navbar{
  width:87.5vw;
  height:8vh;
  background:#cd2626;
  position:fixed;
  left:12.5vw;
  top:0;
  z-index:1;
} 
.nav>li>a{
    color:white;    
}
.nav>li>a>span{
    color:white;
    background-color:#cd2626;
}
.nav>li>a:hover {
    color:black;
}
.btn{
  font-size:16px;
  color:black;
}
.btn-group{
  width:100%;
  height:5vh;
  line-height:3vh;
  border-left:4px solid #cd2626;
  position:absolute;
  top:8vh;
  left:2vw;
}
.con{
  width:95%;
  height:83%;
  box-shadow:0 0 5px black;
  position:absolute;
  top:16vh;
  left:2vw;
}
.con-inner{
  width:100%;
  height:100%;
  background:white;
  position:relative;
}
.con-inner-one{
  width:95%;
  height:9%;
  position:absolute;
  top:4%;
  left:2%;
  border-bottom:1px solid #cd2626;
}
.con-inner-one div{
  width:15%;
  height:70%;
  margin-top:1%;
  line-height:180%;
  border-left:4px solid #cd2626;
  float:left;
}
.btnr1{
  width:8%;
  height:80%;
  font-size:14px;
  margin-left:10px;
  float:right;
}
.con-inner-two{
  width:95%;
  height:26%;
  position:absolute;
  top:15%;
  left:2%;
  border-bottom:1px solid #cd2626;
}
.con-inner-two1{
  width:100%;
  height:33%;
}
.con-inner-two2{
  width:100%;
  height:33%;
  }
.con-inner-two3{
  width:100%;
  height:33%;
  }
.con-inner-two-div{
  width:5%;
  height:70%;
  margin-top:1%;
  margin-right:0;
  line-height:180%;
  border-left:4px solid #cd2626;
  float:left;
}
.btnr2{
  width:7%;
  height:70%;
  font-size:14px;
  margin-top:1%;
  margin-left:15px;
  float:left;
}
.con-inner-three{
  width:95%;
  height:9%;
  position:absolute;
  top:42%;
  left:2%;
  border-bottom:1px solid #cd2626;
  }
.btnr3{
  width:8%;
  height:70%;
  font-size:14px;
  margin-top:0.5%;
  float:right;
}
.con-inner-four{
  width:95%;
  height:45%;
  position:absolute;
  top:53%;
  left:2%;
  }