.header{
    width: 412px;
    height: 359px;
    border: 2px solid #333333;
    margin: auto;
    border-radius: 48%;
    background: #006aaaa8;
    position: relative;
}
.face{
    width: 340px;
    height: 249px;
    border: 2px solid #222222;
    border-radius: 48%;
    background: white;
    position: absolute;
    left: 34px;
    bottom: 18px;
}
.eyes-1{
    width: 92px;
    height: 101px;
    border: 2px solid #222222;
    border-radius: 46%;
    position: absolute;
    top: -44px;
    left: 70px;
    background: white;
}
.eyes-1 .eyeball{
    width: 20px;
    height: 20px;
    background: #111111;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 10px;
}
.eyes-2{
    width: 92px;
    height: 101px;
    border: 2px solid #222222;
    border-radius: 46%;
    position: absolute;
    top: -44px;
    left: 170px;
    background: white;
}
.eyes-2 .eyeball{
    width: 20px;
    height: 20px;
    background: #111111;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
.nose{
    width: 34px;
    height: 34px;
    border: 2px solid #111111;
    border-radius: 49%;
    background: #e61f27f7;
    position: absolute;
    top: 45px;
    left: 149px;
}
.long{
    width: 3px;
    height: 125px;
    background: #333333;
    position: absolute;
    top:82px;
    left: 49.3%;
}
.mouth{
    width: 220px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 2px solid #333333;
    position: absolute;
    bottom: 40px;
    left: 58px;
}
.mustache-1{
    width: 81px;
    height: 2px;
    background: #222222;
    transform:rotate(15deg);
    /*-webkit-transform:rotate(15deg);*/
    position: absolute;
    left: 25px;
    bottom:145px;
}
.mustache-2{
    width: 81px;
    height: 2px;
    background: #222222;
    position: absolute;
    left: 25px;
    bottom:120px;
}
.mustache-3{
    width: 81px;
    height: 2px;
    background: #222222;
    transform:rotate(-15deg);
    /*-webkit-transform:rotate(-15deg); */
    position: absolute;
    left: 25px;
    bottom:95px;
}
.mustache-4{
    width: 81px;
    height: 2px;
    background: #222222;
    transform:rotate(-15deg);
    /*-webkit-transform:rotate(-15deg);*/
    position: absolute;
    right: 25px;
    bottom:145px;
}
.mustache-5{
    width: 81px;
    height: 2px;
    background: #222222;
    position: absolute;
    right: 25px;
    bottom:120px;
}
.mustache-6{
    width: 81px;
    height: 2px;
    background: #222222;
    transform:rotate(15deg);
    /*-webkit-transform:rotate(15deg);*/
    position: absolute;
    right: 25px;
    bottom:95px;
}
.body{
    width: 272px;
    height: 210px;
    margin: auto;
    background: #007cfffa;
    border-left: 2px solid #333333;
    border-right: 2px solid #444444;
    position: relative;
    left: 0;
    top: -28px;
}
.pocket{
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333333;
    position: absolute;
    top: -10px;
    left: 40px;
}
.pocket-1{
    width: 150px;
    height: 80px;
    border:2px solid #333333;
    border-radius:0 0 150px 150px;
    position: absolute;
    top: 75px;
    left: 15px;
}
.body-u{
    width: 25px;
    height: 22px;
    background: white;
    border-top:2px solid #222222 ;
    border-left:2px solid #222222 ;
    border-right:2px solid #222222 ;
    border-radius:25px 25px 0 0;
    position: absolute;
    left: 120px;
    bottom: 0;
}
.foot-1{
     width: 150px;
     height: 30px;
     border: 2px solid #333333;
     background: white;
     border-radius: 25px 25px 25px 15px;
     position: absolute;
     bottom: -30px;
     left: -20px;
 }
.foot-2{
    width: 150px;
    height: 30px;
    border: 2px solid #333333;
    background: white;
    border-radius: 25px 25px 25px 15px;
    position: absolute;
    bottom: -30px;
    right: -20px;
}
.arm-1{
    width: 63px;
    height: 75px;
    margin: auto;
    border-left:1px solid #444444;
    border-right:1px solid #444444;
    transform:rotate(70deg);
    background: #007cfffa ;
    position: relative;
    left:-160px;
    top: -294px;
}
.hand-1{
    width:75px ;
    height: 75px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333333;
    position: absolute;
    bottom: -55px;
    left: -5px;
}
.arm-2{
    width: 63px;
    height: 75px;
    margin: auto;
    border-left:1px solid #444444;
    border-right:1px solid #444444;
    transform:rotate(-70deg);
    background: #007cfffa;
    position: relative;
    right:-160px;
    top: -369px;
}
.hand-2{
    width:75px ;
    height: 75px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333333;
    position: absolute;
    bottom: -55px;
    right: -5px;
}
.neck{
    width: 290px;
    height: 25px;
    border: 2px solid #333333;
    border-radius:15px;
    background: #cc5216;
    position: relative;
    left: 38.7%;
    top:-249px;
}
.bell{
    width: 45px;
    height: 45px;
    border: 2px solid #222222;
    border-radius: 50%;
    background: yellow;
    position: relative;
    left: 47%;
    top: -268px;
}
.bell-1{
    width: 45px;
    height: 3px;
    background: #333333;
    position: absolute;
    left: 0;
    top: 15px;
}
.bell-2{
    width: 15px;
    height: 15px;
    background: #222222;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 18px;
}
.bell-3{
    width: 3px;
    height:18px ;
    background: #222222;
    position: absolute;
    bottom: 0;
    left: 21px;
}