.header{
    width: 1180px;
    height: 36px;
    font-size: 12px;
    margin: auto;
    background: #f4f4f4;
}
.headerC{
    width: 100%;
    height: 36px;
    background: #f4f4f4;
}
.header .headerLeft{
    width: 230px;
    height: 100%;

    color: #666666;
    float: left;
}
.headerLeft div{

    margin-top: 12px;
    float: left;

}
.headerLeft .lang{
    width: 100px;
    height: 100%;
    margin-left: 10px;
}
.headerLeft .lang .icon1,.headerLeft .lang .icon2,.headerLeft .lang .title{
    float: left;
    display: block;
}
.headerLeft .lang .icon1{
    width: 16px;
    height: 16px;
    background: url("img/sprite2019527.png") no-repeat -7px -7px;
    margin-right: 5px;
}
.headerLeft .lang .icon2{
    width: 8px;
    height: 5px;
    background: url("img/sprite2019527.png") no-repeat -47px -59px;
    margin-left: 5px;
    margin-top: 7px;
}
.headerRight{
    width: 50%;
    height: 100%;
    float: right;
}
.headerRight a{
    list-style: none;
    color: #333333;
    width: 92px;
    height: 12px;
    margin-top: 11px;
    border-right: 1px solid #DDDDDD;
    display: inline-block;
    text-align: center;
}
.headerRight a .icon1{
    width: 14px;
    height: 12px;
    background: url("img/sprite2019527.png") no-repeat -9px -67px;
    float: left;
    display: block;
   margin-left: 20px;
    margin-top: 2px;
}
.headerRight a:nth-child(1){
    color: #2691fd;
    border: none;
}
.headerRight a:nth-child(2):hover{
     color: #2691fd;
 }
.headerRight a:last-child:hover{
    color: #2691fd;
}
.contC{
    width: 100%;
    height: 80px;
}
.cont{
    width: 1180px;
    height: 100%;
    margin: auto;
}
.cont-logo{
    width: 126px;
    height: 43px;
    margin: 18px 0;
    float: left;
}
.cont-logo a{
    background-image: url(//pic.c-ctrip.com/common/c_logo2013.png) ;
    background-repeat: no-repeat;
    width: 126px;
    height: 43px;
    display: block;
    color: #3983e5;
}
.cont-tel{
    width: 110px;
    height: 40px;
    padding: 10px 20px 1px 16px;
    margin: 10px 0 18px;
    float: right;
}
.cont-tel{
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}
.cont-tel li:first-child{
    margin-left: 30px;
}
.navC{
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background: #2577e3;
}
.nav{
    width: 1180px;
    height: 100%;
    color: #FFFFFF;
    margin: auto;
}
.nav li{
    padding: 0 15px;
    float: left;
}
.subwayC{
    width: 100%;
    height: 22px;
    margin: 10px 0;
}
.subway{
    width: 1180px;
    margin: auto;
    height: 22px;
}
.subway h2{
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    background: #74a8ed;
    border-radius: 2px;
    color: #FFFFFF;
}
.subway li{
    margin-right: 13px;
    height: 100%;
    color: #333333;
    line-height: 22px;
    float: left;
}
.subway li i{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: block;
    float: left;
    margin-top: 2px;
}
.subway .one{
      background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png) ;
      background-position: -26px 0;
  }
.subway .two{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
}
.subway .three{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -52px 0;
}
.subway .four{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -78px 0;
}
.subway .five{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -104px 0;
}
.subway .six{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -130px 0;
}
.subway .seven{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -156px 0;
}
.subway .eight{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: 0px -26px;
}
.subway .nine{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -26px -26px;
}
.subway .ten{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -52px -26px;
}
.subway .eleven{
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type20170111.png);
    background-position: -78px -26px;
}
.image{
    width: 100%;
    height: 340px;
    background-image: url("https://dimg04.c-ctrip.com/images/zg0k170000011ioysB164.jpg");
    background-size: 1180px 340px;
}
.lbt-left{
    width: 591px;
    height: 300px;
    background: white;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
.lbt-left-left{
    width: 94px;
    height: 300px;
    float: left;
    background: #2691fd;
}
.lbt-left-left b{
    display: block;
    font-size: 16px;
    color: white;
    line-height: 42px;
    border-bottom: white dotted 1px;
    width: 60px;
    margin: auto;

}
.lbt-centertop{
    width: 450px;
    height: 27px;

    float: left;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: #cccccc solid 2px;
}
.lbt-centertop a{
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 10px;
}
.chufadi{
    width: 450px;
    height: 25px;

    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.chufadi p{
    color: #999999;
    display: block;
    float: left;
}
.chufadi input{
    width: 350px;
    height: 25px;
    display: block;
    float: left;
}
.chufadi2{
    width: 450px;
    height: 25px;

    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.chufadi3{
    width: 450px;
    height: 25px;

    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.chufadi2 p{
    color: #999999;
    display: block;
    float: left;
}
.chufadi2 input{
    width: 100px;
    height: 25px;
    display: block;
    float: left;
}
.chufadi3 p{
    color: #999999;
    display: block;
    float: left;
}
.chufadi3 input{
    width: 130px;
    height: 25px;
    display: block;
    float: left;
}
.sousuoanniu{
    width: 145px;
    height: 33px;
    background: #ff6600;
    float: right;
    border-radius: 5px;
    text-align: center;
    line-height: 33px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}
.trip{
    width: 1180px;
    height: 429px;
    margin: 28px auto 0;
}
 .trip-title{
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #3983e5;
    text-align: left;
}
.trip-title span{
    height: 36px;
    line-height: 30px;
    margin-right: 30px;
    font-size: 16px;
}
.trip-title :hover{
    color: #3983e5;
    cursor: pointer;
}
.trip-container{
     width: 1165px;
     height: 375px;
     padding: 15px 0px 0 19px;
     background: #FFFFFF;
 }
.trip-container .product-title{
    width: 1140px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333333;
}
.product-title span{
    line-height: 20px;
    margin-right: 15px;
    color: #3983e5;
}
.product-img{
    width: 1160px;
    height: 330px;
}
.product-img .img-left{
    width: 920px;
    height: 100%;
    float: left;
}
.product-img .img-left div{
    width: 220px;
    height: 160px;
    margin: 0 0 10px 10px;
    float: left;
    position: relative;
}
.product-img .img-left div:hover{
     cursor: pointer;
 }
.product-img1 .img-left div:hover{
    cursor: pointer;
}
.img-right1:hover{
    cursor: pointer;
}
.img-right:hover{
    cursor: pointer;
}
#item-msg{
    width: 102px;
    height: 52px;
    padding: 30px 5px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -56px 0 0 -56px;
    position: absolute;
}
#item-msg .one{
   font: 700 18px/1.2 "Microsoft YaHei UI";
    margin-bottom: 3px;
    text-align: center;
    height: auto;
    padding: 0 5px;
    color: #FFFFFF;
}
#item-msg .two{
    font: 22px/1.5 Tahoma;
    color: #f60;
    text-align: center;
}
#item-msg .two i{
    color: #FFFFFF;
    margin-left: 3px;
    font: 12px/1.5 "Microsoft YaHei UI";
}

#item-msg1{
    width: 92px;
    height: 72px;
    padding: 20px 10px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -56px 0 0 -56px;
    position: absolute;
}
#item-msg1 .one{
    font: 700 18px/1.2 "Microsoft YaHei UI";
    margin-bottom: 3px;
    text-align: center;
    height: auto;
    padding: 0 5px;
    color: #FFFFFF;
}
#item-msg1 .two{
    width: 92px;
    height: 18px;
    font: 12px/1.5 "Microsoft YaHei UI";
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
#item-msg1 .two{
    font: 22px/1.5 Tahoma;
    color: #f60;
    text-align: center;
}
#item-msg1 .two i{
    color: #FFFFFF;
    margin-left: 3px;
    font: 12px/1.5 "Microsoft YaHei UI";
}

.product-img .img-left img{
    width: 220px;
    height: 160px;
}
.product-img .img-right{
    width: 220px;
    height: 100%;
    float: right;
}
.trip-left{
    width: 187px;
    height: 360px;
    padding: 0 20px 15px 20px;
    float: left;
    background: #FFFFFF;
}
.trip-left .trip-left-top{
    width: 100%;
    height: 189px;
    margin-bottom: 7px;
    overflow: hidden;
}
.trip-left-top dt{
    width: 187px;
    height: 34px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
}
.trip-left-top dd{
    width: 197px;
    height: 32px;
}
.trip-left-top dd span{
    width: 187px;
    height: 18px;
    padding: 0 10px;
    margin: 7px 0;
    line-height: 18px;
    font-size: 12px;
    color: #333333;
}
.trip-left-top dd span:hover{
    cursor: pointer;
    color: #3983e5;
}

.trip-right1{
    width: 930px;
    height: 375px;
    padding: 15px 0px 0 19px;
    background: #FFFFFF;
    float: left;
}
.trip-right1 .product-title{
    width: 910px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333333;
}
.product-title span{
    line-height: 20px;
    margin-right: 15px;
    color: #3983e5;
}
.product-title span:hover{
    cursor: pointer;
}
.product-img1{
    width: 100%;
    height: 330px;
}
.product-img1 .img-left{
    width: 690px;
    height: 100%;
    float: left;
}
.product-img1 .img-left div{
    width: 220px;
    height: 160px;
    margin: 0 0 10px 10px;
    float: left;
    position: relative;
}
.product-img1 .img-left img{
    width: 220px;
    height: 160px;
}
.product-img1 .img-right1{
    width: 220px;
    height: 100%;
    float: right;
}
#index  {
    padding: 15px 12px;
    margin: 0 10px 15px 0;
    font-size: 12px;
    color: #333333;
    width: 194px;
    height: 74px;
    background: #f4f8ef;

}
.img-left-box1 .item{
    height: 20px;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
    padding: 0 5px;
    margin-bottom: 3px;
    width: 194px;
}
.img-left-box1 .item1{
    width: 194px;
    height: 27px;

}
.item1-one{
   font-size: 22px;
    color: #f60;
    text-align: right;
}
 .item1 i{
    font-size: 12px;
    color: #666666;
    margin-left: 3px;
}
.item1-two{
    width: auto;
    height: 22px;
    padding: 0 15px;
    font-size: 14px;
    margin: -3px 0 0 30px;
    background: #ffb000;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    text-align: center;


}
.car{
    width: 1180px;
    height: 300px;
    margin: 28px auto 0;

}
.car-container{
    width: 100%;
    height: 260px;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
    background: #FFFFFF;
}
.car-left{
    width: 187px;
    height: 245px;
    padding: 0 20px 15px;
    float: left;
    border-right: 1px dotted #cccccc;

}
.car-left-container{
    width: 100%;
    height: 230px;
    margin-bottom: 7px;
}
.car-left-container dt{
    width: 100%;
    height: 34px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
}
.car-left-container dd{
    width: 197px;
    height: 192px;
    margin-left: -10px;
}
.car-left-container dd .car-item{
    float: left;
    border-left: 1px solid #ececec;
    padding: 0 10px;
    margin: 7px 0;
    height: 18px;
    width: 36px;
    color: #666666;
}
.car-left-container dd a:hover{
    color: #3983e5;
}
.car-left-container dd .car-item1{
   width: 60px;
}
.car-right{
    width: 910px;
    height: 245px;
    padding: 15px 19px 0 19px;
    float: left;
}
.car-right .car-right-title{
    width: 100%;
    height: 20px;
    border-bottom: 10px;
}
.car-right .car-right-title .car-nav-title{
   width: 48px;
    height: 20px;
    padding: 0 8px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    display: block;
    color: #3983e5;
}
.car-right .car-right-title .car-nav-title2{
    background: #3983e5;
}
.car-right .car-right-title .car-nav-title1{
    width: 70px;
}
.car-right .car-right-title a{
    color: #3983e5;
}
.car-right-bottom{
    width: 100%;
    height: 220px;
    border-bottom: 10px;

}
.car-right-bottom .car-right-img{
    width: 220px;
    height: 100%;
    display: block;
    float: left;
    margin-left: 6px;
    transition: all 0.2s linear;
    font-size: 12px;
    color: #666666;
    position: relative;
    overflow: hidden;
}

.car-right-bottom .car-right-img img{
    width: 220px;
    height: 150px;
    margin-bottom: 3px;
    transition: all 0.2s linear;
}
.car-right-img img:hover{
    transform: scale(1.02);
}


.car-right-bottom .car-right-img .car-right-one{
    width: 210px;
    height: 20px;
    padding: 5px 0;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car-right-bottom .car-right-img .car-right-two{
    width: 210px;
    height: 20px;
    padding: 5px 0;
    line-height: 20px;
}
.car-right-bottom .car-right-img .car-right-two .icon2{
    float: right;
    font-size: 18px;
    color: #f60;
    line-height: 1.5;
}
.car-container1{
    height: 220px;
}
.car-left1{
  height: 205px;
}
.car-left-container1{
    height: 198px;
}
.car-left-container1 dd{
    height: 160px;
}
.car-left-container1 dd .car-item{
    width: 24px;
}
.car-left-container1 dd .car-item1{
    width: 36px;
}
.car-left-container1 dd .car-item2{
    width: 48px;
}
.car-right-bottom1{
    margin-top: 5px;
    height: 173px;
}
.car-right-bottom1 .car-right-img img{
    height: 110px;
}
.car-right1{
    height: 205px;
}

.car-right-two .icon3{
    width: 24px;
    height: 14px;
    padding: 1px 3px;
    border: 1px solid #f60;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    float: right;
}
.car-left-container dd .car-item4{
    width: 187px;
    height: 18px;
    line-height: 18px;
    border-left: none;
}

.item-over{
    width: 100%;
    height: 20px;
    padding: 5px 0;
    background: rgba(0,0,0,0.5);
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 5px;
    bottom: 10px;
    z-index: 3;
    overflow: hidden;
}
.car-right-bottom1 .car-right-imgx img{
    height: 160px;
    width: 220px;
    margin-left: 5px;

}
.hezuo{
    width: 1180px;
    height: 344px;
    background: white;
    margin: auto;
}
.hezuo_top{
    width: 1180px;
    height: 100px;
    border-bottom: #5e5e5e solid 1px;
    box-sizing: border-box;
}
.hezuo_top_left{
    width: 220px;
    height: 100px;
    border-right: #5e5e5e solid 1px;
    box-sizing: border-box;
    float: left;
}
.hezuo_top_right{
    width: 960px;
    height: 100px;
    float: left;
}
.hezuo_top_left_wenzi{
    margin: 10px ;
}
.hezuot{
    width: 155px;
    height: 34px;
    border-right: #5e5e5e dotted 1px;
    float: left;
}
.hezuotu{
    width: 76px;
    height: 28px;
    float: left;
    margin-left: 30px;
    background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat ;
}
.hezuotu1{
     background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat 0 -33px;
 }
.hezuotu2{
    background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat 0 -66px;
}
.hezuotu3{
    background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat 0 -99px;
}
.hezuotu4{
    background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat 0 -132px;
}
.hezuotu5{
    background: url("//pic.c-ctrip.com/platform/online/home/pic_partner.png") no-repeat 0 -170px;
}
.daohang{
    width: 1180px;
    height: 244px;
    float: left;
}
.xiechengdaohang{
    width: 1153px;
    height: 48px;
    margin: auto;
    border-bottom: #5e5e5e dotted 1px;
}
.xiechengdaohang p{
    width: 80px;
    height: 24px;
    display: block;
    float: left;

}
.xiechengdaohang a{
    font-size: 12px;
    color: #999999;
    display: block;
    float: left;
    text-decoration: none;
    margin: 0 20px;

}
.xiechengdaohang2{
    width: 1153px;
    height: 30px;
    margin: auto;
    border-bottom: #5e5e5e dotted 1px;
}
.xiechengdaohang2 p{
    width: 80px;
    height: 24px;
    display: block;
    float: left;

}
.xiechengdaohang2 a{
    font-size: 12px;
    color: #999999;
    display: block;
    float: left;
    text-decoration: none;
    margin: 0 20px;
    line-height: 30px;

}
.xc_bottom{
    margin-top: 40px;
    width: 100%;
    height: 416px;
    background: white;
}
.xc_bottom_center{
    width: 1180px;
    height: 208px;
    margin: auto;

}
.xc_bottom_left{
    width: 225px;
    height: 150px;
    border-right: #999999 dotted 1px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}
.fangxin{
    width: 235px;
    height: 100px;
    float: left;
}
.fangxintu{
    width: 50px;
    height: 50px;
    float: left;
}
.fangxin_wenzi{
    width: 230px;
    color: #0070c9;
    font-weight: bold;
}
.fangxin1{
    float: left;
    margin-top: 15px;
}
.fangxin_wenzi2{
    width: 230px;
    color: orange;
    font-weight: bold;
}
.lvyouwenzi{
    width: 261px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}
.lvyouwenzi a{
    text-decoration: none;
    color: #5e5e5e;

    margin: 5px 20px 5px 35px;
    font-size: 13px;
}
.yinwen{
    width: 1180px;
    height: 17.6px;
    margin: auto;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #5e5e5e;
}
.gongankuang{
    width: 1180px;
    height: 60px;

    margin: auto;
    margin-top: 40px;
}
.tp_1 .yuanxing p{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.xc_bottom_right{
    width: 170px;
    height: 150px;
    float: right;
    margin-top: 30px;
    margin-left: 20px;

}
.erweima{
    width: 132px;
    height: 155px;
    border: #999999 solid 1px;
}

.guohui{
    width: 20px;
    height: 20px;
    background: url("https://pic.c-ctrip.com/platform/online/home/phone_list20190617.png");
    background-position: 0 -236px;

    float: left;
}
.yinwen2{
    width: 230px;
    height: 25px;
    font-size: 14px;
    color: #5e5e5e;
    float: left;
}
.margin{
    width: 230px;
    margin: auto;

}






